.swal2-container {
  z-index: 9999 !important;
}

#template-customizer {
  display: none !important;
}

.ck-editor__editable {
  min-height: 450px;
  resize: vertical;
  overflow: auto;
}

.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel .ck-toolbar {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-editor__editable_inline.ck-blurred,
.ck.ck-editor__editable.ck-focused:not(.ck-editor__nested-editable) {
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}
.nav-link:focus-visible{
  outline: none !important;
  box-shadow: none !important;
}